img{
    width: 250px;
    height: 260px;
}
body{
    background-color: rgba(245, 245, 220, 0.774);
}
h1{
    color: red;
    font-family: cursive;
}
h2{
    color: red;
    font-family: cursive;
}
ul{
    color: red;
    font-family: cursive;
}
li{
    color: red;
    font-family: cursive;
}